<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./header.ejs") %>
    <br>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card" style="background-color: #18181b; border: none;">
                <div class="card-body">
                    <h4>Kurallar</h4>
                <hr>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>1-) Herhangi siyasi bir figüre hakaret etmek yasaktır!</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>2-) Herhangi dini bir figüre hakaret etmek yasaktır! espri yapabilirsiniz</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>3-) Sadece küfür etmek için konu açmak yasaktır!</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>4-) Spam yapmak yasaktır!</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>5-) Konulara ait kategorileri kullanınız! eğer konunuz herhengi bir kategoriye uymuyorsa "Konu dışı" kategorisini kullanınız</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>6-) Sadece reklam yapmak için başlık açmak yasaktır! S O V I E T bir reklam sitesi değildir</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>7-) Siyasette aşırıya kaçmayınız!</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>8-) Toxiclik yapmayınız!</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>9-) Sitemiz tamamen eğlence amaçlıdır sitemize sadece girip eğlenip çıkınız!</h6>
                            </div>
                        </div>
                        <br>
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6>10-) NSFW / +18 kategorisi sadece +18 olan insanlara özeldir kesinlikle çocuk pornografisi paylaşmaya kalkışmayın!</h6>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="background-color: #18181b; border: none;">
                <div class="card-body">
                    <h4>En son konular</h4>
                    <hr>
                    <% results.forEach(x => { %>
                        <a href="/konu/<%= x._id %> ">
                        <div class="card" style="background-color: #27272a; border: none;">
                            <div class="card-body">
                                <h6><%= x.baslik %> </h6>
                            </div>
                        </div>
                    </a> 
                    <br>   
                    <% }) %> 
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>